.header {
  display: flex;
  justify-content: space-between;
  border: solid;
  height: 85px;
}

.logo {
  width: 85px;
  vertical-align: top;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding: 12px 20px;
}
.nav-items > ul > li {
  padding: 0px 20px;
  font-size: x-large;
}
.nav-items > ul > li > Link {
  text-decoration: none;
}

.restaurant-card {
  width: 200px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #f0f0f0;
}
.restaurant-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}
.restaurant-logo {
  width: 100%;
}

.search-bar {
  padding: 20px;
}

.filter-btn {
  margin: 10px;
  height: 26px;
  cursor: pointer;
}

.shimmer-cotainer {
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  margin: 20px;
  background-color: blue;
}

.cart {
  padding: 20px;
  font-size: xx-large;
}
.contact-us {
  padding: 20px;
  margin: 50px;
  font-size: xx-large;
}

.about-us {
  padding: 20px;
  font-size: xx-large;
}

.email {
  color: red;
}
.contact-us-container {
  display: flex;
  justify-content: space-evenly;
}
.contact-us-card {
  width: 400px;
  height: 450px;
  margin: 50px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 2.5%;
  background-color: #e9e2d7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-info {
  height: 35px;
  font-size: large;
}

.submit-btn {
  height: 40px;
  width: 100px;
}

.contact-info-message {
  height: 120px;
  font-size: large;
}

.login-button {
  padding: 0px 20px;
  cursor: pointer;
}
.search-container {
  padding: 20px 10px;
}
.search-btn {
  cursor: pointer;
  margin: 10px;
  height: 26px;
}
.search-box {
  width: 300px;
  height: 20px;
}

.filter {
  display: flex;
}
.filter-container {
  padding: 20px;
}

.restaurant-profile-img {
  width: 300px;
  height: 300px;
}
.restaurant-profile-container {
  display: flex;
  justify-content: space-between;
  /* margin: 5%; */
  padding: 20px 150px;
}
.restaurant-map {
  border: 1px solid black;
  width: 500px;
}

.restaurant-card-link {
  text-decoration: none;
  color: inherit;
}
