.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 80px;
}

.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 0px 20px;
}
